.canvas{
    width:400px;
    height:200px;
    border:2px solid;
    border-radius:25px;
}
.slider{
    width:250px;
    height:25px;
    left: 15%;
    top: 80%;
    position: relative;
}
.imageDiv{
    height:200px;
    width:400px;
    position:absolute;
}
.img{
    height:200px;
    width:400px;
    border-radius:23px;
}
.sliderButton{
    border-radius:15px;
    width:10px;
    height:10px;
    border:1px solid white;
    position:absolute;
    top:5px;
}
.button-on{
    background-color:blue;
}
.button-off{
    background-color:white;
    cursor:pointer;
}
